* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: linear-gradient(to bottom, rgb(5, 0, 73) 0%, rgb(1, 11, 146) 100%);
    background-image: url('../media/backgroundImage.webp');
    background-attachment:scroll;  /* Keeps the background fixed as the content grows */
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.fit{
    display: block;
    margin: 0 auto;
    justify-content: center;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content_box {
    flex: 1; /* This makes the content box take up the remaining space */
    padding: 2vw 10vw 2vw 10vw;
    background-color: rgba(44, 44, 44, 0.856);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 95%;
    height: auto;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
    width: 100%;
}

.content_box{
    width: 100%;
    background-color: rgba(44, 44, 44, 0.788);
    margin-top: 0;
    margin-bottom: 0;
    min-height: 85vh;
    height: 100%;
    padding-bottom: 10vw;
}

.footer {
    background-color: rgb(15, 15, 15);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; /* Add padding instead of height */
    flex-shrink: 0; /* Prevents shrinking */
}


.navbar {
    width: 100%;
    height: 5em;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container{
    text-align: center;
}

.logo_img {
    height: 90%;
    width: auto;
}


h1{
    font-size: 50pt;
    color: rgb(204, 230, 253);
    text-shadow: 0 0 3px #0a0a0a;
    font-family: "Protest Guerrilla", sans-serif;
    text-align: center;
    margin-top: 2%;
}

h2{
    text-align: left;
    font-size: 40pt;
    color: rgb(204, 230, 253);
    font-family: "Protest Guerrilla", sans-serif;

}

h3 {
    font-size: 36pt;
    color: rgb(250, 250, 250);
    font-family: "Protest Guerrilla", sans-serif;
    text-align: center;
}

p{
    font-size: 16pt;
    color: aliceblue;
}


hr{
    color: aliceblue;
    height: 10px;
    width: 100%;
}


a{
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.staff{
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-top: 1vw;
}

label{
    font-size: 16pt;
    color: aliceblue; 
}

.link_block:hover{
    background-color: rgb(58, 58, 58);
}

li{
    font-size: 16pt;
    color: aliceblue;
}



.staff-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 20px; /* Adds padding between images */
    padding: 20px; /* Adds padding around the entire grid */
}

.staff-item img {
    width: 100%; /* Ensures the images are responsive */
    height: auto;
    border-radius: 10px; /* Optional: Adds rounded corners */
}


@media screen and (max-width: 680px) {
    h1{
        font-size: 30pt;
        color: rgb(204, 230, 253);
        font-family: "Protest Guerrilla", sans-serif;
        text-align: center;
    }
    
    h2{
        font-size: 25pt;
        text-align: center;
        font-family: "Protest Guerrilla", sans-serif;
    
    }
    
    h3 {
        font-size: 20pt;
        color: aliceblue;
        font-family: "Protest Guerrilla", sans-serif;
    }
    
    p{
        font-size: 12pt;
        color: aliceblue;
        text-align: center;
    }

    a{
        font-size: 70%;

    }

    .link_block{
        width: 15%;
    }

    .navbar{
        height: 3em;
    }

    .content_box{
        width: 100%;
        background-color: rgba(44, 44, 44, 0.788);
        margin-top: 0;
        margin-bottom: 0;
        min-height: 85vh;
        height: 100%;
        padding-bottom: 10vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    li{
        font-size: 12pt;
        color: aliceblue;
    }

    .staff{
        border-radius: 0;
    }
    
    
  }
  
